<div class="main">
    <div class="row">
        <div class="col-md-8 col-sm-7">
            <div class="main-invite">
                <h1>Save the date...</h1>
                <h1>We're getting married!</h1>
                <p>Le mariage est une pièce à deux personnages dont chacun n'étudie qu'un rôle: celui de l'autre...
                    (Octave Feuillet)</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-5">
            <div class="main-date">
                <img src="img/wedding-icon-simple-small-hi.png" class="icon-wedding"/>

                <div class="date"><span class="month"><strong>23 MAI</strong></span><br><span
                        class="year"><strong>2015</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="buttonRight">
    <a href="#/day/ceremony" class="btn btn-circle">
        <fa name="angle-double-right"/>
    </a>
</div>
