<div class="well">
    <h3>
        <fa name="gift"/>
        Liste de mariage
    </h3>

    <p>Si vous souhaitez nous témoigner votre sympathie, vous pouvez jeter
        un oeil à notre liste sur
        <a target="_blank" href="{{url}}">Kadolog.be</a></p>

    <p>ou encore nous aider à réaliser nos projets via notre numéro de compte : BE75 3774 3592 9151</p>
    <div class="kdolog">
        <a target="_blank" href="{{url}}"><img src="img/Kadolog_logo.jpg" class="icon-kadolog"/></a>
    </div>
</div>