<div class="well">
    <h3>
        <fa name="glass"/>
        Réception - 14h
    </h3>

    <address class="text-center">
        <strong><a target="_blank" href="{{url}}">Ferme des Sources</a></strong><br>
        Rue des Aiwisses, 18<br>
        4260 Braives (Ville-en-Hesbaye)<br>
    </address>

    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            <ui-gmap-window show="true" options="windowOptions" closeClick="closeClick()">
                <div>{{title}}</div>
            </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>