<div class="buttonLeft">
    <a href="#/gifts" class="btn btn-circle page-scroll">
        <fa name="angle-double-left"/>
    </a>
</div>
<div class="well">
    <h3><fa name="calendar"/> RSVP</h3>
    <p>Réponse souhaitée <b>avant le 20 avril 2015</b> via l'un des moyens suivants:</p>
    <table>
        <tr>
            <td>
                <a href="mailto:mariagecaromanu@gmail.com"><fa name="envelope-square"/>Email</a>
            </td>
        </tr>
        <tr>
            <td>
                <a><fa name="mobile"/>+32 479 279549 (Caro)</a>
            </td>
        </tr>
        <tr>
            <td>
                <a><fa name="mobile"/>+32 499 629814 (Manu)</a>
            </td>
        </tr>
    </table>
</div>
<div class="buttonRight">
    <a href="#/home" class="btn btn-circle page-scroll">
        <fa name="home"/>
    </a>
</div>