<div class="title">
    <h3><fa name="calendar"/> RSVP</h3>
</div>
<div class="well">
    <p>Réponse souhaitée <b>avant le 20 avril 2015</b> via l'un des moyens suivants:</p>
    <table>
        <tr>
            <td>
                <a href="mailto:mariagecaromanu@gmail.com"><fa class="contact" name="envelope-square" size="3"/>Email</a>
            </td>
        </tr>
        <tr>
            <td>
                <a><fa class="contact mobile" name="mobile" size="3"/>+32 479 279549 (Caro)</a>
            </td>
        </tr>
        <tr>
            <td>
                <a><fa class="contact mobile" name="mobile" size="3"/>+32 499 629814 (Manu)</a>
            </td>
        </tr>
    </table>
</div>